<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lab.nosae" android:versionCode="1" android:versionName="1.0">
    <application android:hasCode="false" android:label="Disable WiFi SAE Upgrade"/>
    <overlay android:targetPackage="com.android.wifi.resources"
             android:targetName="WifiCustomization"
             android:isStatic="true"
             android:priority="99" />
</manifest>
